::placeholder { 
    color: rgb(0, 189, 0);
    opacity: 1;
}
input,select{
    background-color: #121212;
    border-color: rgba(0,0, 189, 0);
    color: rgb(0, 189, 0);
    border-radius:0;
    height: 40px;
}
input:focus,select:focus{
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    border-color:rgba(0,0, 189, 0);
}
input{
    width: 250px;
}
#Search-Box{
    margin-bottom:30px;
}