.App {
  text-align: center;
  background-color: rgb(8, 8, 8);
  color: white;
  font-family: 'Times New Roman', serif;
}

#website-title{
  margin-block-start: 0;
}
::-webkit-scrollbar-track {
  background: rgb(0, 189, 0);; 
}